includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    excludePaths:
        - tests/

    level: 5

    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$[a-zA-Z_]+#'
